:root {
  --accent-color: #cd2653;
  --background-color: #faf7fe;
  --main-font: "Montserrat", sans-serif;
}
h1 {
  font-size: 56px;
  font-family: var(--main-font);
}

h2 {
  font-family: var(--main-font);
  font-weight: bold;
}
ul {
  list-style: none;
}

li {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}
p {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.8;
}
.hero {
  padding: 70px 150px;
  background-color: var(--background-color);
}
.hero img {
  border-radius: 50%;
  width: 300px;
}
.hero h3 {
  font-family: var(--main-font);
  font-size: 32px;
}
.hero p {
  font-family: var(--main-font);
  font-size: 24px;
}

.skills {
  background-color: var(--background-color);
  padding: 40px 20px;
}
.fa-paperclip {
  color: var(--accent-color);
}
.content-hero {
  padding: 70px 150px;
}
.content-hero img {
  width: 350px;
  border-radius: 6px;
}
.content-hero h2 {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 28px;
  line-height: 2;
}
.content-hero p {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.8;
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 2px;
}
.project-content {
  padding: 90px 150px;
  background-color: var(--background-color);
}
.project-content img {
  max-height: 595px;
  border-radius: 4px;
  box-shadow: 5px 2px 10px #e6e6e6;
  display: block;
  margin: 0 auto;
}
.project-content h1 {
  font-family: var(--main-font);
  font-size: 38px;
}

.btn-main {
  background-color: var(--accent-color);
  color: white;
  font-family: var(--main-font);
  border-radius: 4px;
  font-size: 16px;
  padding: 15px 20px;
}
.btn-my-projects {
  border-color: var(--accent-color);
  color: var(--accent-color);
  font-family: var(--main-font);
  border-radius: 4px;
  font-size: 16px;
  padding: 15px 20px;
}

.contact-links h3 {
  font: var(--main-font);
  font-size: 24px;
}
.contact-links a {
  color: var(--accent-color);
  text-decoration: none;
}
.contact-links a:hover {
  color: black;
}
.logo {
  max-height: 50px;
}
.active {
  color: var(--accent-color) !important;
}
.nav-item {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 15px;
  padding: 0 20px !important;
}
.email-link {
  font-size: 18px;
  color: black;
  font-family: var(--main-font);
  text-align: center;
  text-decoration: none;
  margin-bottom: 20px;
}
.email-link:hover {
  color: var(--accent-color);
}
.social-links a {
  color: var(--accent-color);
  font-size: 22px;
  margin: 0 20px 15px 0;
  background-color: var(--background-color);
  padding: 10px 15px;
  border-radius: 50%;
  transition: all 120ms ease-in-out;
}
.social-links a:hover {
  color: white;
  background-color: var(--accent-color);
}
.footer {
  margin: 50px 0;
}
.footer h4 {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}
.footer p {
  font-size: 14px;
  font-family: var(--main-font);
  text-align: center;
}
@media (max-width: 800px) {
  .hero,
  .content-hero,
  .project-content {
    padding: 50px 70px;
  }
  .hero h1,
  .content-hero h1 {
    text-align: center;
    font-size: 36px;
  }
  .hero p,
  .content-hero p {
    font-size: 18px;
    text-align: center;
  }
  .hero h3 {
    font-size: 24px;
    text-align: center;
  }

  .content-hero h2 {
    font-size: 20px;
    text-align: center;
  }
  .project-content h1 {
    font-size: 28px;
  }

  .btn-main {
    padding: 5px 10px;
    display: block;
    margin: 0 auto;
  }
  .btn-my-projects {
    padding: 5px 10px;
    display: block;
    margin: 0 auto;
  }
  .container h2,
  .container p,
  .container a {
    text-align: center;
  }

  .skills {
    margin-top: 20px;
  }
  .footer p {
    font-size: 10px;
    font-family: var(--main-font);
    text-align: center;
  }
  .footer h4 {
    font-size: 28px;
    text-align: center;
  }
}
