:root {
  --accent-color: #cd2653;
  --main-font: "Montserrat", sans-serif;
}
h1 {
  font-size: 56px;
  font-family: var(--main-font);
}

h2 {
  font-family: var(--main-font);
  font-weight: bold;
}
ul {
  list-style: none;
}

li {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}
p {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.5;
}
.hero {
  padding: 90px 70px;
  background-color: #faf7fe;
}

.hero h3 {
  font-family: var(--main-font);
  font-size: 32px;
}
.hero p {
  font-family: var(--main-font);
  font-size: 24px;
}

.hero img {
  border-radius: 200px;
  width: 300px;
}

.btn-about-me {
  background-color: var(--accent-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 20px;
  padding: 15px 20px;
}
.btn-my-projects {
  border-color: var(--accent-color);
  color: var(--accent-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 20px;
  padding: 15px 20px;
}

.fa-paperclip {
  color: var(--accent-color);
}

.skills {
  background-color: #faf7fe;
  padding: 40px 20px;
}

.footer p {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

@media (max-width: 700px) {
  .hero h1 {
    text-align: center;
    font-size: 36px;
  }
  .hero h3 {
    font-size: 24px;
    text-align: center;
  }
  .hero p {
    font-size: 18px;
    text-align: center;
  }
  .btn-about-me {
    display: block;
    margin: 0 auto;
  }
  .btn-my-projects {
    display: block;
    margin: 0 auto;
  }
  .container h2 {
    text-align: center;
  }
  .container p {
    text-align: center;
  }
  .container a {
    text-align: center;
  }
  .skills {
    margin-top: 20px;
  }
}
